{{> message}}
<link rel="stylesheet" href="/views/css/styles.css">
<h2>View reviews Homepage</h2>

<h3>Sort Reviews:</h3>
<form id="EventDropdowns" method="get" action="/changeReviews">
    <label for="eventDropdown">By Event:</label>
    <select id="eventDropdown" name="events">
        <option value="" disabled selected>select an Event</option>
            {{#each events}}
                <option value="{{this.event_name}}">{{this.event_name}}</option>
            {{/each}}
    </select >
    <input type="submit" value="Submit" onclick="eventSelect()"/>
    </form>
    <form id="sectionDropdowns" method="get" action="/changeReviews">
    <label for="sectionDropdown">By Sections:</label>
        <select id="sectionDropdown" name="sections">
        <option value="" disabled selected>select an Section</option>
            {{#each sections}}
                <option value="{{this.section}}">{{this.section}}</option>
            {{/each}}
    </select>
    <input type="submit" value="Submit" onclick="sectionSelect()"/>
</form><br>
<div>
    <button type="button" id="resetButton">Reset Filter</button>
</div>



<div class="card-container" id="allCardContainer">
{{#if allReviewInfo.length}}
        <h2>All Reviews</h2>
            {{#each allReviewInfo}}
                <div class="card" style="border-width:5px; width:350px; background-color:rgb(252, 252, 252); box-shadow: 5px 10px; display: inline-block; margin-right: 10px; margin-left:10px; margin-bottom:10px; margin-top:10px;">
                    {{#if image_url}}
                        <img src="{{image_url}}" alt="{{event_name}} picture" style="max-width: 100%; height: auto;" class="card-image"/>
                    {{/if}}
                    <p><strong>Event:</strong> {{event_name}}</p>
                    <p><strong>Review: </strong> {{review}}</p>
                    <p><strong>Rating: </strong> {{rating}} <span class="star">&#x2605;</span></p>
                    <p><strong>Section: </strong>{{section}}, <strong>Row: </strong> {{row}}, <strong>Seat: </strong> {{seat_number}}</p>
                </div>
            {{/each}}
{{else}}
<p>No reviews available</p>
{{/if}}
</div>


<div class="card-container" id="eventCardContainer" style="display:none">
{{#if reviewInfo.length}}
        <h2>Review Cards for: {{eventName}}</h2>
            {{#each reviewInfo}}
                <div class="card" style="border-width:5px; width:350px; background-color:rgb(252, 252, 252); box-shadow: 5px 10px; display: inline-block; margin-right: 10px; margin-left:10px; margin-bottom:10px; margin-top:10px;">
                    <p><strong>Review: </strong> {{review}}</p>
                    <p><strong>Rating: </strong> {{rating}} <span class="star">&#x2605;</span></p>
                    <p><strong>Section: </strong>{{section}}, <strong>Row: </strong> {{row}}, <strong>Seat: </strong> {{seat_number}}</p>
                </div>
            {{/each}}
{{else}}
<p>No reviews available</p>
{{/if}}
</div>

<div class="card-container" id="sectionCardContainer" style="display:none">
{{#if reviewInfo.length}}
        <h2>Review Cards for: {{eventSection}}</h2>
            {{#each reviewInfo}}
                <div class="card" style="border-width:5px; width:350px; background-color:rgb(252, 252, 252); box-shadow: 5px 10px; display: inline-block; margin-right: 10px; margin-left:10px; margin-bottom:10px; margin-top:10px;">
                    <p><strong>Event:{{event_name}}</strong></p>
                    <p><strong>Review: </strong> {{review}}</p>
                    <p><strong>Rating: </strong> {{rating}} <span class="star">&#x2605;</span></p>
                    <p> <strong>Row: </strong> {{row}}, <strong>Seat: </strong> {{seat_number}}</p>
                </div>
            {{/each}}
{{else}}
<p>No reviews available</p>
{{/if}}
</div>


<script>
function sectionSelect()
{
    allReview = document.getElementById("allCardContainer").style.display="none";
    showBySection = document.getElementById("sectionCardContainer").style.display="block";
    showByEvent = document.getElementById("eventCardContainer").style.display="none";
}

function eventSelect()
{
    allReview = document.getElementById("allCardContainer").style.display="none";
    showByEvent = document.getElementById("eventCardContainer").style.display="block";
    showBySection = document.getElementById("sectionCardContainer").style.display="none";
}

document.getElementById("resetButton").addEventListener('click', () => {
    window.location.href = '/viewReviews';
});
</script>